<div class="card card-block login-card">
  <h3 class="form-label">Welcome Back</h3>
  <span class="form-label">sign in to continue to Lines</span>
  <form #f="ngForm" (ngSubmit)="login(f)">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon addon-left">
          <i class="fa fa-user fa-fw"></i>
        </span>
        <input class="form-control with-primary-addon" placeholder="User Account" type="text" name="username" ngModel>
      </div>
      <div class="input-group">
        <span class="input-group-addon addon-left" id="password">
          <i class="fa fa-lock fa-fw"></i>
        </span>
        <input class="form-control with-primary-addon" placeholder="Password" type="password" name="password" ngModel>
      </div>
      <button class="btn btn-lg btn-primary">Login</button>
      <a href="" class="btn btn-link">Register Now. →</a>
    </div>
  </form>
</div>