<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">Pet name</label>
        <input type="text" class="form-control" placeholder="Pet name">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Weight</label>
        <input type="text" class="form-control" placeholder="Weight">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Breed</label>
        <input type="text" class="form-control" placeholder="Breed">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Birth date</label>
        <input type="text" class="form-control" placeholder="Birth date">
      </div>
      <div class="col-md-4 form-group">
        <label class="control-label">Gender</label>
        <input type="text" class="form-control" placeholder="Gender">
      </div>      
      <div class="col-md-12">
        <button class="btn btn-primary">Update Profile</button>
      </div>
    </div>
  </div>
</div>
