<div class="row">
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feed your pet</h3>
      </div>
      <button class="tip-ico tip-ico-primary" (click)="feedPet()">
        <i class="fa fa-star icon"></i>
      </button>
    </div>
  </div>
  <div class="col-md-4 animated fadeIn">
      <div class="card card-block tip-card">
        <div class="tip-msg">
          <h3>Check how many days of meals are left</h3>
        </div>
        <button class="tip-ico tip-ico-primary" (click)="checkHowManyDaysMealsLeft()">
          <i class="fa fa-check icon"></i>
        </button>
      </div>
    </div>
    <div class="col-md-4 animated fadeIn">
        <div class="card card-block tip-card">
          <div class="tip-msg">
            <h3>Check how many meals are left</h3>
          </div>
          <button class="tip-ico tip-ico-primary" (click)="checkHowManyMealsLeft()">
            <i class="fa fa-check icon"></i>
          </button>
        </div>
      </div>
  <div class="col-md-12">
    <card>
      <profile></profile>
    </card>
  </div>
</div>
